@use "../../variables.scss" as *;

.header {
    color: $wht-color;
    margin-bottom: 2rem;
  
    .edit-button {
        @include button-style($color-primary-green, $wht-color);
        padding: 10px;
        margin: 10px;
        font-size: small;

        img {
            width: 20px;
        }
    }
  }
