@use "../../variables.scss" as *;

.sign-in-content {
    box-sizing: border-box;
    background-color: $wht-color;
    width: 300px;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
  }
  